body {
    margin: 0;
}


header {
    height: 100px;
    display: flex;
    align-items: center;
}

#sort {
    flex-grow: 1;
}

h1,
#filter,
#sort {
    margin-right: 30px;
}

main {
    height: 100vh;
}

#about_us {
    margin-right: 30px;
}

header {
    border-bottom: 1px solid black;
}