header {
    display: flex;
    height: 10vw;
}

main {
    margin: 3vw 5vw;
}

#section1 {
    display: flex;
    gap: 2vw;
    height: 20vw;
}

#section1 div {
    flex-grow: 1;
    flex-basis: 0;
}

#section2 {
    display: flex;
    gap: 2vw;
    height: 20vw;
}

#section2 div {
    flex-grow: 1;
    flex-basis: 0;
}

#section3 {
    display: flex;
    gap: 2vw;
    height: 20vw;
}

#section3 div {
    flex-grow: 1;
    flex-basis: 0;
}