#bottom_container {
    height: auto;
    width: auto;
    background-color: lightgray;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    justify-items: center;
}

.bottom_div {
    margin: 25px 0 25px 0;
    height: 62vh;
    width: 22vw;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
}

.bottom_div > h1 {
    margin: 0 0 0 15px;
    font-family: Koulen;
    font-size: 3vh;
}

.bottom_div > p {
    margin: 0 0 0 15px;
    font-family: Koulen;
    color: rgba(0, 0, 0, 0.674);
    font-size: 2.1vh;
}

#shoe_price {
    margin-top: 4px;
    font-family: "Univers","Helvetica","Arial",sans-serif;
    font-size: 2.3vh;
}

.bottom_div > img {
    height: 70%;
    width: 100%;
    object-fit: cover;

    border-radius: 20px 20px 0 0;
}

.bottom_container_popup {
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);

    background-color: white;
    border: 2px solid black;
    height: 82%;
    width: 95%;

    display: grid;
    grid-template-columns: 1fr 1fr;

}

.bottom_container_popup > div > img {
    height: 100%;
    border-right: 2px solid black;
    max-width: 100%;
    object-fit: cover;
}

.bottom_container_popup > div:nth-child(2) {
    margin: 5vw;
    overflow: scroll; 
}

.bottom_container_popup > div > h1 {
    margin: 0;
    font-family: Koulen;
    font-size: 7vh;
}

.bottom_container_popup > div > p {
    margin: 5px;
    font-family: Koulen;
    font-size: 3vh;
}

.popup_hide {
    display: none;
}

#popup_close_button {
    position: absolute;
    right: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    border: none;
    font-size: 32px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

#popup_close_button:hover {
    color: rgb(87, 87, 87);
}

#reviews {
    background-color: rgb(242, 242, 242);
    margin-top: 20px;
    padding: 10px 10px 10px 10px;

    display: flex;
    flex-direction: column-reverse;

}

#reviews h2{
    font-family: Arial, Helvetica, sans-serif;
}


.review > p:nth-child(1){
    margin:0;
}

.review > p:nth-child(2){
    margin-top:0;
    font-style: italic;
}
