.filter_element {
    display: flex;
    gap: 5px;
    padding: 5px;
}

.text {
    font-family: helvetica;
}

.check_container {
    display: flex;
    align-items: center;
}

.filter_element.checked .check_mark {
    background-color: black;
}

.check_mark {
    border: 1px solid black;
    padding: 5px;
    transition: background-color, 0.5s;
}

.check_mark:hover {
    cursor: pointer;
    box-shadow: 0 0 5px black;
}