.filter_element {
    display: flex;
    align-items: center;
    gap: 2px;
}

.check_container {
    height: 100%;
    flex-basis: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.check_mark {
    border: 1px solid black;
    transition: background-color, 0.5s;
}

.check_mark:hover {
    cursor: pointer;
    box-shadow: 0 0 5px black;
}

.filter_element.checked .check_mark {
    background-color: black;
}