body {
    margin: 0;
    background-color: rgb(209, 209, 209);
}

header {
    height: 110px;
    background-color: rgb(209, 209, 209);
    border-bottom: solid 1px black;
}

main {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

main > div {
    height: 400px;
    width: 300px;
    background-color: white;
}